/*
 * -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

conda.createTimeout = '1h'

// Global default params, used in configs
params {

  // Workflow flags
  project = "my_project_name"
  samples = "samples.txt"
  outdir = './output'
  access_token = 'default'
  dragen = false

  // Boilerplate options
  name = false
  help = false
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
}
