/*
 * -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags
  project = "my_project_name"
  samples = "samples.txt"
  outdir = './output'

  // Boilerplate options
  name = false
  help = false
}
